body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#posts-container {
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
}

.post {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.post img {
    max-width: 150px;
    max-height: 100px;
    margin-right: 20px;
}

.post-content {
    flex: 1;
}

h1, h2, h3 {
    font-weight: 700;
}

p {
    font-weight: 400;
    margin: 5px 0;
}
