body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#posts-container {
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
}

.post {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.post img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3 {
    font-weight: 700;
}

p {
    font-weight: 400;
}
