body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px 20px 0px 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
}

    .search:focus-within {
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
    }

.search-input {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    margin-left: 7px;
    outline: none;
    border: none;
    background: transparent;
}

    .search-input::placeholder,
    .search-icon {
        color: rgba(0, 0, 0, 0.5);
    }

#posts-container {
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
}

.post {
    border: 3px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px 10px 10px 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 100px;
}

    .post img {
        max-width: 150px;
        max-height: 100px;
        margin-right: 20px;
        border-radius: 10px 10px 10px 2px;
    }

.post-content {
    flex: 1;
}

h1, h2, h3 {
    font-weight: 700;
    margin: 2px 0px 2px 0px;
}

p {
    font-weight: 400;
    margin: 2px 0px 2px 0px;
}

#post-container {
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-full {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

    .post-full img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
    #posts-container {
        width: 100%;
    }

    .post {
        flex-direction: column;
        align-items: flex-start;
        max-height: none;
    }

        .post img {
            width: auto;
            height: auto; /* Ensures the aspect ratio is maintained */
            margin: 0 0 10px 0;
        }

    .post-content {
        width: 100%;
    }
}
